
footer {
  background-color: #0E0E0E;
  color: white;

  .text {
    li {
      a {
        font-size: .7rem;
        padding: 0 2px;
      }
    }
  }

  .social {
    span {
      font-size: .7rem;
      font-weight: 600;
    }
    nav {
      padding-top: 5px;
    }
  }
}